@model IEnumerable<AkiVeiculos.Models.Modelo>

@{
    ViewData["Title"] = "Modelos";
}

<h1>Modelos cadastrados</h1>

<p>
    <a asp-action="Cadastrar">Cadastrar novo modelo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=item.Id  }) |
                @Html.ActionLink("Detalhes", "Detalhes", new {  id=item.Id }) |
                @Html.ActionLink("Excluir", "Excluir", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
